<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700">  
    <link rel="stylesheet" href="/stylesheet.css" />
    <link rel="icon" href="/images/favicon.png" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    {% feed_meta %}
</head>
  
<body>
  
  <header>  
    <h1><a href="https://openaccess.dk"><img src="/images/logo-eng.svg" alt="Danish Network for Open Access " id="header-logo"></a></h1>
    {% include navigation.html %} 
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy 2026 Danish Network for Open Access</p>
  </footer>
  
</body>
</html>
